.type-550 .ct-topBar {
  font-size: 12px;
  height: 40px;
  line-height: 24px;
  font-family: "Lato", sans-serif;
  background-color: #fff;
  z-index: 9000;
  width: 100%;
}
.type-550 .ct-topBar a {
  color: #2d2d2d;
  font-weight: 600;
}
.type-550 .ct-topBar ul {
  margin-left: 0;
  font-size: 12px;
}
.type-550 .ct-topBar ul li {
  padding: 0;
}
.type-550 .ct-topBar ul li a {
  padding: 8px 5px;
}
.type-550 .ct-topBar .ct-panel--user li a {
  display: block;
}
.type-550 .ct-topBar .ct-panel--user li a i {
  margin-left: 8px;
}
.type-550 .ct-topBar .ct-widget--socials {
  display: inline-block;
}
.type-550 .ct-topBar .ct-widget--socials li {
  margin: 0;
}
.type-550 .ct-topBar .ct-widget--socials li a {
  display: block;
  font-size: 20px;
}
.type-550 .text-center ul li a {
  text-decoration: none;
}
.type-550 .navbar-headerTop {
  border-top: 1px solid #E6ECF2;
  background-color: #fff;
  z-index: 9000;
  text-align: center;
  padding: 27px 0;
  transition: all 0.5s ease;
  border-bottom: 1px solid #E6ECF2;
  margin-top: -10px;
}
.type-550 .put-left {
  width: 18%;
}
.type-550 .put-center {
  width: 40%;
  padding-left: 20%;
  text-align: center;
}
.type-550 .fa-search {
  border: 1px solid #F7FAF3;
  background: #F7FAF3;
  padding: 15px 15px;
}
.type-550 .navbar-headerTop .navbar-header a {
  line-height: normal;
}
.type-550 .navbar-headerTop input,
.type-550 .navbar-headerTop .btn {
  border: 1px solid #ebefe6;
}
.type-550 .navbar-headerTop input {
  width: 209px;
  background-color: #f7faf3;
  height: 45px;
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  padding: 10px 50px 10px 17px;
}
.type-550 .navbar-menu {
  color: #000000;
}
.type-550 .dmenu {
  padding: 10px 0px;
}
.type-550 .dmenu ul a {
  padding: 10px 10px;
}
.type-550 .navbar-headerTop .btn {
  background-color: #f7faf3;
  font-size: 16px;
  font-weight: 600;
  line-height: 31px;
}
.type-550 .navbar-headerTop .btn i {
  margin-right: 10px;
}
.type-550 .dropdown {
  font-size: 20px;
}
.type-550 .dropdown .dropdown-menu {
  background: #2D2D2D;
  padding-left: 20px;
}
.type-550 .dropdown .dropdown-menu a {
  color: #fff;
}
.type-550 .dropdown .dropdown-menu a:hover {
  background: none;
  color: #82B540;
}
.type-550 .dropdown .active {
  color: #82B540;
}
.type-550 .dropdown .active a:hover {
  color: #82B540;
}
.type-550 ul li .dropdown-menu {
  background: #2D2D2D;
  width: 305px;
}
.type-550 ul li .dropdown-menu a {
  text-decoration: none;
  padding: 20px 0px;
  color: #828282;
  font-size: 16px;
  line-height: 60px;
  font-weight: 400;
  background-color: transparent;
}
.type-550 ul li .dropdown-menu a:hover {
  color: #82B540;
}
@media (min-width: 480px) {
  .type-550 .ct-topBar {
    font-size: 16px;
  }
  .type-550 .ct-topBar .ct-widget--socials li {
    width: 50px;
  }
  .type-550 .ct-topBar ul {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .type-550 .ct-topBar .ct-panel--user li {
    width: 120px;
  }
  .type-550 .ct-topBar .ct-panel--user li a {
    display: block;
  }
  .type-550 .ct-topBar .ct-panel--user li a i {
    margin-left: 8px;
  }
  .type-550 .ct-topBar .btn-group {
    display: block;
  }
  .type-550 .ct-topBar ul li a {
    border-left: 1px solid #dbe4ed;
    padding: 10px 0;
  }
  .type-550 .ct-topBar ul li:last-child a {
    border-left: 1px solid #dbe4ed;
  }
  .type-550 .ct-topBar--dark ul li a {
    border-left: 1px solid #121212;
  }
  .type-550 .ct-topBar--motive ul li a {
    border-left: 1px solid #537f1a;
  }
  .type-550 .ct-topBar--transparent ul li a {
    border-left: 1px solid #5b5f63;
  }
}
.type-550 a:hover,
.type-550 a:focus,
.type-550 a:active {
  color: #82b540;
}
@media screen and (max-width: 1024px) {
  .put-left,
  .put-center {
    margin: 0 70px 0 0;
    display: inline-block;
  }
  .put-right {
    padding-top: 15px;
    margin-left: -145px;
  }
}
