.type-551 .span {
  content: "";
  height: 5px;
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  background-color: #e85555;
}
.type-551 .top-header {
  padding-top: 20px;
}
.type-551 .top-header h1 {
  text-align: center;
  position: relative;
  font-size: 80px;
  top: -4.5rem;
  font-family: 'Times New Roman', Times, serif;
}
.type-551 .margin_padding {
  margin: 0;
  padding: 0;
}
.type-551 p {
  padding-bottom: 20px;
}
.type-551 h4,
.type-551 h4 a {
  font-size: 20px;
  line-height: 28px;
}
.type-551 img {
  border: 0;
}
.type-551 a,
.type-551 a:active,
.type-551 a:visited {
  color: #333;
  text-decoration: none;
}
.type-551 .align-center {
  text-align: center;
}
.type-551 .slidelip {
  transition: all .5s ease-in-out;
}
.type-551 a {
  transition: all .2s ease-in-out;
}
.type-551 #white_background {
  background-color: #f9f9f9;
}
.type-551 .margin-auto {
  margin: 0 auto;
}
.type-551 .menu-container {
  margin-bottom: 20px;
}
.type-551 .menu-container a {
  text-transform: uppercase;
}
.type-551 .menu-container .mega-menu {
  background: url(../images/border.gif) repeat-x 0 100%;
  width: 100%;
  margin: auto;
}
.type-551 .menu-container .mega-menu ul.mega-menu-ul {
  list-style-type: none;
  position: relative;
  padding-left: 0;
}
.type-551 .menu-container .mega-menu li a span {
  padding: 0 10px;
}
.type-551 .menu-container .mega-menu li a {
  padding: 0 18px;
  text-transform: uppercase;
  color: #3a3a3c;
  font-size: 19px;
  line-height: 35px;
  display: block;
}
.type-551 .menu-container .mega-menu-item.mega-active a span:before {
  content: "";
  height: 5px;
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  background-color: #e85555;
}
.type-551 .menu-container .mega-menu-item:hover a span:before {
  content: "";
  height: 5px;
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 100%;
  background-color: #e85555;
}
.type-551 .menu-container .mega-menu-item:hover a.menu-item {
  color: #e85555;
}
.type-551 .menu-container .mega-menu-item:hover a.opener {
  color: #e85555;
}
.type-551 .menu-container .mega-dropdown-menu {
  background-color: #f9f9f9;
  padding: 22px 20px 30px;
}
.type-551 .menu-container .mega-dropdown-menu img {
  display: block;
  margin: 0 auto;
}
.type-551 .menu-container .mega-dropdown-menu .brand {
  margin: 0 0 20px 0;
}
.type-551 .menu-container .mega-dropdown-menu li {
  padding-left: 0;
  font-size: 16px;
  text-transform: uppercase;
}
.type-551 .menu-container .mega-dropdown-menu li a {
  font-size: 13px;
  text-transform: none;
}
.type-551 .menu-container .mega-dropdown-menu li ul li ul {
  margin: 0;
  padding: 0;
}
.type-551 .menu-container .mega-dropdown-menu .first-item {
  padding-left: 15px;
}
.type-551 .menu-container span.price {
  font-size: 24px;
  color: #930;
  display: block;
  line-height: 30px;
}
.type-551 .menu-container .mega-menu-item li h2 {
  text-transform: none;
}
.type-551 .menu-container .mega-menu-item li p {
  font-size: 13px;
  text-transform: none;
}
.type-551 .menu-container .mega-menu-item .demos {
  position: absolute;
  width: 190px;
  left: auto;
  padding: 0;
}
.type-551 .menu-container .mega-menu-item .demos li {
  padding-left: 10px;
  font-size: 15px;
  border-top: 1px solid #ddd;
  display: inline-block;
  line-height: 30px;
  height: auto;
  vertical-align: top;
}
.type-551 .menu-container .mega-menu-item .demos li a {
  width: 100%;
  padding: 5px 5px 5px 10px;
  font-size: 14px;
}
.type-551 .navbar-default {
  background: #ffffff;
  border-bottom: 5px double #000;
}
.type-551 .navbar-default .navbar-nav .active {
  color: #000;
  font-size: 20px;
}
.type-551 .navbar-default ul li {
  list-style: none;
  padding: 10px 0px;
  font-family: "Times New Roman", Times, serif;
}
.type-551 .navbar-default .text {
  font-family: "Times New Roman", Times, serif;
  font-size: 17px;
  color: #930;
  text-transform: uppercase;
}
.type-551 .navbar-default img {
  padding-left: 0;
}
.type-551 .navbar-default .price {
  font-size: 24px;
  color: #930;
  display: block;
  line-height: 30px;
}
.type-551 .navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.type-551 .navbar-default .navbar-brand {
  color: #fff;
}
.type-551 .menu-large {
  position: static !important;
}
.type-551 .megamenu {
  padding: 20px 0px;
  width: 100%;
  background: #F9F9F9;
}
.type-551 .megamenu> li > ul {
  padding: 0;
  margin: 0;
}
.type-551 .megamenu> li > ul > li {
  list-style: none;
}
.type-551 .megamenu> li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.type-551 .megamenu> li ul > li > a:hover,
.type-551 .megamenu> li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.type-551 .megamenu.disabled > a,
.type-551 .megamenu.disabled > a:hover,
.type-551 .megamenu.disabled > a:focus {
  color: #999999;
}
.type-551 .megamenu.disabled > a:hover,
.type-551 .megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: not-allowed;
}
.type-551 .megamenu.dropdown-header {
  color: #428bca;
  font-size: 18px;
}
.type-551 .dropdown {
  position: static !important;
}
.type-551 .full-width {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 768px) {
  .megamenu {
    margin-left: 0;
    margin-right: 0;
  }
  .megamenu> li {
    margin-bottom: 30px;
  }
  .megamenu> li:last-child {
    margin-bottom: 0;
  }
  .megamenu.dropdown-header {
    padding: 3px 15px !important;
  }
  .navbar-nav .open .dropdown-menu .dropdown-header {
    color: #fff;
  }
}
@media (min-width: 728px) {
  .type-551 .menu-container a span:before {
    width: 0;
    transition: all 0.3s;
  }
  .type-551 .menu-container .mega-menu-item a span {
    position: relative;
  }
  .type-551 .menu-container .mega-menu-ul {
    display: block !important;
  }
  .type-551 .menu-container .mega-menu-ul li a.opener {
    display: none;
  }
}
@media (min-width: 729px) {
  .type-551 .mega-menu .mega-menu-ul {
    height: 43px;
  }
  .type-551 .mega-menu ul li {
    display: block;
    float: left;
  }
  .type-551 .mega-menu ul li a span {
    display: inline-block;
    height: 43px;
  }
  .type-551 .mega-menu ul li:first-child a {
    padding-left: 0;
  }
  .type-551 .mega-menu .mega-menu-item a.menu-item {
    font-size: 16px !important;
  }
  .type-551 .mega-menu .mobileMenuTitle {
    display: none;
  }
}
@media (min-width: 980px) {
  .type-551 .top-header {
    padding-top: 20px;
  }
  .type-551 .top-header h1 {
    position: relative;
  }
  .type-551 .mega-menu .mega-menu-item a.menu-item {
    font-size: 18px !important;
  }
}
@media (min-width: 1170px) {
  .type-551 .mega-menu ul li a {
    padding: 0 25px;
    list-style: none;
  }
  .type-551 .mega-menu .mega-menu-item a.menu-item {
    font-size: 20px !important;
  }
}
@media (max-width: 979px) and (min-width: 728px) {
  .type-551 .top-header {
    padding-top: 20px;
  }
  .type-551 .top-header h1 {
    position: relative;
    top: 0;
  }
}
@media (max-width: 979px) and (min-width: 728px) {
  .top-header {
    padding-top: 20px;
  }
  .top-header h1 {
    position: relative;
    top: 0;
  }
}
@media (max-width: 727px) {
  .type-551 .mobileMenuTitle {
    display: block;
    background: url(data:image/gif;base64,R0lGODdhFgAWAPAAABcXF////ywAAAAAFgAWAAACH4SPqcvtD12YtNqLs968+29F4kiWEYim6sqG5gvHTQEAOw==) no-repeat 97% 50%;
    width: 100%;
    font-size: 23px;
    cursor: pointer;
    height: 56px;
    text-indent: 20px;
    line-height: 56px;
    color: #000;
    text-transform: uppercase;
    font-weight: normal;
  }
}
@media (max-width: 727px) {
  .type-551 .top-header {
    padding-top: 20px;
  }
  .type-551 .top-header h1 {
    position: relative;
    top: 0;
  }
  .type-551 .menu-container a.opener {
    visibility: visible;
  }
  .type-551 .menu-container .mega-menu {
    margin-top: 50px;
  }
  .type-551 .menu-container .mega-menu-ul {
    display: none;
  }
  .type-551 .menu-container .mega-menu-ul li a span {
    position: relative;
    float: left;
  }
  .type-551 .menu-container .mega-menu-ul li a.opener {
    margin: 0 !important;
    max-width: 50px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 50%;
    z-index: 99999;
    cursor: pointer;
    position: relative;
    padding: 0 !important;
    top: 0;
    right: 0;
    float: right;
    width: 20%;
    height: 58px;
  }
  .type-551 .menu-container .mega-menu-ul li a.opener:before {
    content: "+";
    line-height: 50px;
    font-size: 28px;
    width: 100%;
    text-align: center;
    display: block;
  }
  .type-551 .menu-container .mobileMenuTitle {
    display: block;
    background: url(data:image/gif;base64,R0lGODdhFgAWAPAAABcXF////ywAAAAAFgAWAAACH4SPqcvtD12YtNqLs968+29F4kiWEYim6sqG5gvHTQEAOw==) no-repeat 97% 50%;
    width: 100%;
    font-size: 23px;
    cursor: pointer;
    height: 56px;
    text-indent: 20px;
    line-height: 56px;
    color: #000;
    text-transform: uppercase;
    font-weight: normal;
  }
  .type-551 .menu-container .mega-menu-item {
    float: none;
    width: 100%;
    overflow: hidden;
    background: #fafafa;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #fbfbfb;
    padding: 15px 0 0 0 !important;
    line-height: 20px;
    position: relative;
  }
  .type-551 .menu-container .mega-menu-item ul,
  .type-551 .menu-container .mega-menu-item img {
    display: none;
    visibility: hidden;
  }
  .type-551 .menu-container .mega-menu-item a span:before {
    visibility: hidden;
    opacity: 0;
  }
  .type-551 .menu-container .mega-menu-ul {
    visibility: visible;
    height: auto;
    padding-left: 20px;
  }
  .type-551 .menu-container .mega-menu-ul ul {
    margin: 5px 0 0 0 !important;
  }
  .type-551 .menu-container .mega-menu-ul li {
    width: 100%;
    margin: 0;
    background: #f6f6f6;
    float: none;
    overflow: hidden;
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid #fbfbfb;
    position: relative;
  }
  .type-551 .menu-container .mega-menu-ul li ul {
    display: none;
  }
}
